/* style.css */

p
		{
		color: blue;
		font-size: 10 px;
		}
		
a
		{
			color:green;
		}
		
#zone_commande
		{
		  position:absolute;
      top:150px;
		  left:10px;
		  width:700px;
		}
		
#pilotage
{
	position:absolute;
	top:760px;
	left:550px;
}

#pilotauto
{
	position:absolute;
	top:720px;
	left:550px;
}

#curseur
{
	position:absolute;
	top:680px;
	left:550px;
}

/* ne marche pas
#monCanvas
{
	position:abolute;
	top:150px;
	right:10px;
	width:700px;
}
*/


		
table
		{
		  border-collapse:collapse;
		}
		
caption
{
	font-size:16px;
}
		
th
		{
		  border: 2px solid black;
		  text-align :center;
		}
		
td
		{
		  border:1px solid black;
		  text-align :center;
		}
		
.case
	{
		  width:18px;
		  height:18px;
		}
		
		
.consignes
{
	width:700px;
	border:0px;
}

#action
{
	border:0;
}

#effaceTable
{
	position:absolute;
	top:935px;
	left:150px;
}

#effaceDisque
{
	position:absolute;
	top:935px;
	left:830px;
}