/* style.css */

h1
{
	text-align:center;
	text-decoration:underline;
}

p
		{
		color: blue;
		font-size: 10 px;
		}
		
a
		{
			color:green;
		}
		
#zone_commande
		{
		  position:absolute;
      top:200px;
		  left:10px;
		  width:700px;
		}
		
#pilotage
{
	position:absolute;
	top:760px;
	left:550px;
}

#pilotauto
{
	position:absolute;
	top:720px;
	left:550px;
}

#curseur
{
	position:absolute;
	top:680px;
	left:550px;
}

/* ne marche pas
#monCanvas
{
	position:abolute;
	top:150px;
	right:10px;
	width:700px;
}
*/


		
.tabCo
		{
		  border-collapse:collapse;
		  border: 2px solid black;
		}
		
caption
{
	font-size:16px;
}
		
.thCo
		{
		  border: 2px solid black;
		  text-align :center;
		}
		
td
		{
		  border:1px solid black;
		  text-align :center;
		}
		
.rangee
{
	border-top: 2px solid black;
}
		
.case
	{
		  width:18px;
		  height:18px;
		  font-size:12px;
		}
		
		
.consignes
{
	width:700px;
	border:0px;
}

#action
{
	border-collapse:collapse;
	border:0;
}

#effaceTable
{
	position:absolute;
	top:990px;
	left:150px;
}

#effaceDisque
{
	position:absolute;
	top:940px;
	left:830px;
}